@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
}

.header_top {
    display: flex;
    justify-content: flex-end
}
  
.header_top li {
    list-style: none;
    display: inline-block;
    font-size: 15px;
    margin-right: 10px; /* 각 항목 사이의 간격을 설정 */
}

.header_logo { /*제일 위에 로고*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_search {
    display: flex;
    justify-content: center;
}

.header_search_content, .top_searchbar, .sub_my_item {
    text-align: center;
    display: inline-block;
}

.header_search_content a {
    margin-right: 50px;
}

.top_searchbar {
    margin-left: 200px;
    margin-right: 200px;
}

.top_searchbar fieldset {
    border: none;
}

.search_icon_btn, .top_search_text {
    align-items: center;
    vertical-align: middle;
}

.sub_my_item li {
    display: inline-block;
    margin-right: 40px;
}

.header_bar {
    display: flex;
    justify-content: space-between;
}

.header_bar li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.imageSlieder {
    overflow: hidden;
}

.slide-container {
    display: flex;
    transition: transform;
}

.customer_for_recommend_txt {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.imagegrooup1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.imagegrooup1 img {
    max-width: 200px;
    height: auto;
}

.imageSlieder2 {
    overflow: hidden;
    width: 1100px;
    justify-content: center;
    margin-bottom: 30px;
}

.slide-container2 {
    display: flex;
    transition: transform;
}

.views_count_item {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.imagegrooup2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.imagegrooup2 img {
    max-width: 200px;
    height: auto;
}

.category_all { /*전체카테고리보기*/
    align-items: center;
}

.btn_all_category {
    display: inline-block;
    text-align: center;
}

.all_cate_btn_icon { /*전체카테고리보기*/
    vertical-align: middle;
}